<h2>Name: <%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<p><%= link_to "Back to List", restaurants_path %></p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

